*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(44, 100, 165), rgb(124, 92, 156));
    font-family: sans-serif;
    color: antiquewhite;
}

.block {
    background: linear-gradient(90deg, rgba(18, 11, 156, 0.562) 0%, rgba(7, 14, 104, 0.425) 50%, rgba(101, 39, 109, 0.452) 100%);
    border-radius: 50px;
    width: auto;
    height: auto;
    padding: 50px;
    
}
img {
    width: 15vh;
    height: 15vh;
}

.location,
.temperature, .icon {
    height: 30vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.temperature {
    flex-direction: column;
}

.temperature-description {
    font-size: 20px;
}

.degree-section {
    display: flex;
    align-items: center;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}